<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon_amber_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_amber_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_blueGrey_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_blueGrey_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_blue_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_blue_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_brown_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_brown_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_cyan_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_cyan_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_deepOrange_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_deepOrange_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_deepPurple_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_deepPurple_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_green_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_green_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_grey_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_grey_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_indigo_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_indigo_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_lightBlue_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_lightBlue_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_lightGreen_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_lightGreen_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_lime_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_lime_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_orange_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_orange_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_pink_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_pink_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_purple_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_purple_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_red_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_red_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_teal_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_teal_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_yellow_2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_yellow_2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon_blue_2</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>check_list_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6087556183712349~9119723844</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
